*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

.jumbotron{
	background-color: #4F5152;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	min-height: 537px;
}

.navbar{
	background-color: #fff;
	padding: 2rem;
}

.navbar-nav .nav-item .nav-link{
	color: #7AB324;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.1rem;
	font-weight:600;
	font-size:14px;
	font-style:normal;
	line-height:29px;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.25);

}

button.nav-register{
	background-color: #E47D23;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.1rem;
}

.jumbotron_text{
	padding-top: 260px;
	/* padding-left: 200px;
	max-width: 750px; */
	color: #f9f9f9;
}

.jumbotron h4{
	font-size: 18px;
	font-weight: bold;
	word-spacing: 5px;
}

.jumbotron h2{
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 18px;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: normal;
}

.jumbotron_buttons{
	margin-bottom: 50px;
}

.jumbotron_buttons button {
	font-size: 13px;
	padding: 7px 27px 7px 27px;
	font-weight: bold;
}

.our_summary{
	color: #f9f9f9;
	display: flex;
    justify-content: center;
    z-index: 100;
	margin-top: -100px;
	margin-bottom: 160px;
}
.sum{
	width: 216px;
	height: 229px;
	padding: 0 10px;
}

.sum h4{
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 17px;
	font-weight: 600;
	word-spacing: 5px;
}

.sum p{
	font-weight: 300;
}

.my_green{
	background-color: #7AB324;
	border: 1px solid #8ABB3E;
}

.my_ash{
	background-color: #4F5152;
	border: 1px solid #656667;
}

.my_orange{
	background-color: #E47D23;
	border: 1px solid #E68D3D;
}

#about_us{
	margin: 0 100px;
	text-align: justify;
}

#about_us .about {
	width: 216px;
	padding: 10px 0;
}

#about_us h3{
	color:#7AB324;
}

#about_us p{
	font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    font-style: normal;
    word-spacing: 5px;
}

#about_us a{
	font-size:14px;
	line-height: 29px;
}

.become_a_member{
	background: linear-gradient(0deg, rgba(54,85,7,0.57), rgba(54,85,7,0.57));
	height: 300px;
	margin: 150px 0 100px;
}

.become_a_member h4{
	padding:6px 60px 6px 60px;
}

.become_a_member button{
	width: 200px;
}

.mission_vission_agenda{
	margin: 0 75px;
}

.mission_vission_agenda h4{
	color:#7AB324;
	font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}

.news_update{
	margin: 200px 200px 150px 200px
}

.news_update h3{
	color: #E47D23;
}

.news_update p{
	max-width: 480px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	line-height: 20px;
	letter-spacing: 0.01rem;
	color:#52514F;
}

.news_update h5{
	letter-spacing: 0.1rem;
    line-height: 33px;
	font-size: 16px;
	font-style:normal;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1rem;
}

.news_update a{
	color: #7AB324;
}

footer{
	color:#f9f9f9;
}

#contact_info{
	background-color: #4F5152;
	padding: 60px 70px 50px 70px;
}

#contact_info h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
    line-height: 22px;
}

#contact_info h6+h6{
	color: #E47D23;
}

#contact_info h4{
	font-size: 17px;
	font-weight: 600;
	word-spacing: 5px;
}

#contact_info li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1rem;
    font-style: normal;
}

#contact_info button, #contact_info input{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.1rem;
}

#contact_info input{
	background-color:#4F5152;
	border: 1px solid white;
    padding: 6px 5px;
}

 ::placeholder{
	color:#fff;
}

#contact_info input+button{
	background-color: #E47D23;
}

.copyright{
	background-color: #7AB324;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 11px;
	line-height: 22px;
	letter-spacing: 0.1rem;
}


/* ABOUT PAGE STYLES */
.jumbotron_otherpages{
	background-color: #4F5152;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	height:200px !important; 
}

.jumbotron h1{
	margin-top:120px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 74px;
}

.about_vision_mission{
	margin-top: 200px;
	margin-bottom:150px;
}

.avm_inner{
	border: 3px solid #9BC65B;
}

.about_vision_mission .col-sm-5{
	padding-left:0;
	padding-right:0;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.agenda {
	background-color: #4F5152;
	border-bottom: 1px solid white;
}

.agenda_inner{
	color:#fff;
	border:3px solid #fff;
	margin:30px;
}

.agenda h5{
	width: 160px;
	padding: 7px 0;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.1rem;
}

/* gallery styles(flexbox) */

main{
	margin-top: 100px;
	margin-bottom: 150px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

main .gallery_links{
	background:linear-gradient(0deg, rgba(122, 179, 36,0.65), rgba(122, 179, 36, 0.65))
}

main .gallery_links ul{
	display: flex;
	padding-left: 20px;
}

main .gallery_links ul li{
	list-style-type: none;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
    font-size: 18px;
    line-height: 37px;
	letter-spacing: 0.1rem;
	color: white;
}

main button.btn{
	background-color:#E5E5E5;
	color:black;
	padding-left: 5rem;
	padding-right: 5rem;

}

main .pictures{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 30px;
	justify-content: space-between;
}

main .pictures div{
	flex-basis: 270px;
	margin-top: 10px;
}

/* news update styles (using bootstrap also) */

div .news{
	margin-top: 100px;
	margin-bottom: 100px;
}

div.news h6, h1{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	letter-spacing:0.1rem;
}

div .news_update_details{
	margin-right: 70px;
}

div .news_update_details a.read_more {
	color:#DB7116;
}

div .news_update_details div:first-child{
	margin-bottom: 130px;
}

div .calendar{
	margin-top:220px;
}

div .calendar li{
	list-style: none;
	color:#52514F;
	border-bottom: 1px solid #EDEDED;
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	font-weight: bold;
	font-size:13px;
	line-height:27px;
	text-align: justify;
	letter-spacing: 0.1rem;
	padding-bottom: 3px;
    padding-top: 10px;
}

div .calendar h3{
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	font-weight: bold;
	font-size:24px;
	line-height:49px;
	text-align: justify;
	letter-spacing: 0.1rem;
}

div.calendar>div+div{
	margin-top: 100px;
}

/* contact styles (no bootstrap) */

div.contact_body{
	margin-top:100px;
	margin-bottom: 150px;
}

div.contact_body h3{
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	font-weight: bold;
	font-size:26px;
	line-height:35px;
	text-align: justify;
	letter-spacing: 0.1rem;
}

div.contact_body p{
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	font-weight: normal;
	line-height:15px;
	text-align: justify;
	letter-spacing: 0.1rem;
	font-size:15px;
	margin-bottom: 45px;
}

div.contact_body input{
	display: block;
	border: none;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 20px;
    padding-bottom: 7px;
	padding-left: 7px;
	width: 100%;
}

div.contact_body input::placeholder{
	color:rgba(90,90,90,0.9);
}

div.contact_body_form{
	max-width: 500px;
}

div.contact_body_form button{
	width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #7AB324;
    border: none;
    border-radius: 5px;
	color: white;
	box-shadow:0px 4px 4px rgba(0,0,0,0.25)
}