*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

.jumbotron{
	background: url("img/1.jpg");
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	min-height: 537px;
}

.jumbotron_text{
	padding-top: 260px;
	padding-left: 200px;
	max-width: 750px;
	color: #f9f9f9;
}

.jumbotron h4{
	font-size: 18px;
	font-weight: bold;
	word-spacing: 5px;
}

.jumbotron h2{
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 18px;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: normal;
}

.jumbotron_buttons{
	margin-bottom: 50px;
}

.jumbotron_buttons button {
	font-size: 13px;
	padding: 7px 27px 7px 27px;
	font-weight: bold;
}

.our_summary{
	color: #f9f9f9;
	display: flex;
    justify-content: center;
    z-index: 100;
	margin-top: -100px;
	margin-bottom: 160px;
}
.sum{
	width: 216px;
	height: 229px;
	padding: 0 10px;
}

.sum h4{
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 17px;
	font-weight: 600;
	word-spacing: 5px;
}

.sum p{
	font-weight: 300;
}

.my_green{
	background-color: #7AB324;
	border: 1px solid #8ABB3E;
}

.my_ash{
	background-color: #4F5152;
	border: 1px solid #656667;
}

.my_orange{
	background-color: #E47D23;
	border: 1px solid #E68D3D;
}

#about_us{
	margin: 0 100px;
	text-align: justify;
}

#about_us .about {
	width: 216px;
	padding: 10px 0;
}

#about_us h3{
	color:#7AB324;
}

#about_us p{
	font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    font-style: normal;
    word-spacing: 5px;
}

#about_us a{
	font-size:14px;
	line-height: 29px;
}

.become_a_member{
	background: linear-gradient(0deg, rgba(54,85,7,0.57), rgba(54,85,7,0.57));
	height: 300px;
	margin: 150px 0 100px;
}

.become_a_member h4{
	padding:6px 60px 6px 60px;
}

.become_a_member button{
	width: 200px;
}

.mission_vission_agenda{
	margin: 0 75px;
}

.mission_vission_agenda h4{
	color:#7AB324;
	font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
	
}